.gallery {
  margin: 0 auto; }
  .gallery .topworkz {
    background: url(../img/1.png);
    background-size: cover; }
    .gallery .topworkz .gal-name {
      font-size: 34px;
      letter-spacing: 5px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      /* border: 2px solid blue; */ }
  .gallery .joint {
    background: url(../img/2.png); }
    .gallery .joint .gal-name {
      font-size: 34px;
      letter-spacing: 5px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      /* border: 2px solid blue; */ }
  .gallery .market {
    background: url(../img/3.png);
    /* box-sizing: border-box; */ }
    .gallery .market .gal-name {
      font-size: 34px;
      letter-spacing: 5px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      /* border: 2px solid blue; */ }
  .gallery .work {
    background: url(../img/4.png); }
    .gallery .work .gal-name {
      font-size: 34px;
      letter-spacing: 5px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      /* border: 2px solid blue; */ }
  .gallery .lab {
    background: url(../img/5.png);
    /* border: 2px solid red; */
    /* box-sizing: border-box; */ }
    .gallery .lab .gal-name {
      font-size: 34px;
      letter-spacing: 5px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      /* border: 2px solid blue; */ }
  .gallery .Kyiv {
    background: url(../img/6.png);
    /* border: 2px solid red; */ }
    .gallery .Kyiv .gal-name {
      font-size: 34px;
      letter-spacing: 5px;
      color: #ffffff;
      font-weight: 700;
      font-family: "Lato";
      text-align: center;
      text-transform: uppercase;
      /* border: 2px solid blue; */ }

@font-face {
  font-family: "Lato";
  src: url("./fonts/Lato-Regular.ttf"); }
