.gallery {
    // height: 484px;  
    margin: 0 auto;

    .topworkz {
        // width: 548px;
        // height: 237px;
        background: url(../img/1.png);
        background-size: cover;
        // /* border: 2px solid red; */
   
    .gal-name {
        font-size: 34px;
        letter-spacing: 5px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        text-transform: uppercase;
        /* border: 2px solid blue; */
    }
}
.joint {
    // height: 237px;
    background: url(../img/2.png);
    // border: 2px solid red; 
    .gal-name {
        font-size: 34px;
        letter-spacing: 5px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        text-transform: uppercase;
        /* border: 2px solid blue; */
       
    }
}   
.market{
    // height: 237px;
    background:url(../img/3.png) ;
    //  border: 2px solid red;
    /* box-sizing: border-box; */
    .gal-name {
        font-size: 34px;
        letter-spacing: 5px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        text-transform: uppercase;
        /* border: 2px solid blue; */
      
    }
}
.work {
    // height: 237px;
    background: url(../img/4.png);
    //  border: 2px solid red; 
    
    .gal-name {
        font-size: 34px;
        letter-spacing:5px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        text-transform: uppercase;
        /* border: 2px solid blue; */
    
    }
} 
.lab {
    // height: 237px;
    background: url(../img/5.png);
    /* border: 2px solid red; */
    /* box-sizing: border-box; */
    .gal-name {
        font-size: 34px;
        letter-spacing: 5px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        text-transform: uppercase;
        /* border: 2px solid blue; */
    
    }
}
.Kyiv {
    // height: 237px;
    background:url(../img/6.png);
    /* border: 2px solid red; */
    .gal-name {
        font-size: 34px;
        letter-spacing: 5px;
        color: #ffffff;
        font-weight: 700;
        font-family: "Lato";
        text-align: center;
        text-transform: uppercase;
        /* border: 2px solid blue; */
     
   
}
}

}